﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

footer{
  float:none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.jumbotron {
    padding: 10rem;
}

.navbar{
    margin-top: 0;
}

#index-jumbotron {
    background: #000;
    padding: 0;
    margin-bottom: 0;
    margin-right:auto;
    margin-left: auto;
    color: whitesmoke;
}

#index-jumbotron h1{
    color: whitesmoke;
}

#home{
    padding-top: 0;
}

#player {
    display: block;
    width: 100%;
    height: 56vw;
}
#video-cover {
    display: block;
    width: 100%;
    height: 56vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
#video-cover h1, #video-cover p{
    color: #fff;
    padding-left: 20px;
}

.featured-product {
    width: 28rem;
    float: left;
    margin: 1rem;
}
.product{
    width: 20rem;
    float: left;
    margin: 1rem;
}

.nav {
    z-index: 2000;
}
