﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.float{
    float:left;
    margin: 1rem;
}

.left {
    float: left;
    margin-right: 1.5rem;
}

.right{
    float: right;
    margin-left: 2rem;
}

.fill {
    max-width: 97.5%
}
/* Limits the state field to upper-case letters */
#state{
    text-transform: uppercase;
}
/* This code found at http://jwatt.org/2013/12/11/input-type-number-coming-to-mozilla */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance:textfield;
}
