﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.well-form{
    margin-top: 4rem;
}

#homepage-list{
    list-style: none;
}
#homepage-list > li{
    padding: 0.5rem 1rem 2rem 1rem;
}
.hovered-list-item {
    background-color: #1c1e22;
}
#instructions{
    margin-top: 2rem;
}
#showStack{
    margin-left: 1rem;
    margin-top: -5rem;
}
input{
    max-width: 100%;
}
