﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CS460 Homework 4</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Homework 4", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @id = "menu1" })
                    </li><li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Page1" ? "active" : "")">
                        @Html.ActionLink("Page 1", "Page1", "Home", new { area = "" }, new { @id = "menu2" })
                    </li>                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Page2" ? "active" : "")">
                        @Html.ActionLink("Page 2", "Page2", "Home", new { area = "" }, new { @id = "menu3" })
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Page3" ? "active" : "")">
                        @Html.ActionLink("Page 3", "Page3", "Home", new { area = "" }, new { @id = "menu4" })
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer class="footer navbar-fixed-bottom">
            <hr />
            <p class="text-center">&copy; @DateTime.Now.Year - Devon Smith</p>
        </footer>
    </div>
</body>
</html>