﻿@model IEnumerable<CS460_Homework_7.DAL.UserAccessLog>
@{
    ViewBag.Title = "SearchLog";
}

<h2 class="fancy-text">Search Log</h2>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>IP Address</th>
                    <th>Search Term</th>
                    <th>Date/Time</th>
                    <th>User Agent String</th>
                    <th>NSFW?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(x => item.IPAddress)</td>
                        <td>@Html.DisplayFor(x => item.SearchString)</td>
                        <td>@Html.DisplayFor(x => item.TimeStamp)</td>
                        <td>@Html.DisplayFor(x => item.AgentString)</td>
                        <td>@((item.NSFW == "True") ? "Yes" : "No")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

