﻿@model IEnumerable<CS460_Programming_Final.DAL.Bid>

@{
    ViewBag.Title = "Details";
}

<h2>Item Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.FirstOrDefault().Item.ItemName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Seller: 
        </dt>

        <dd>
            @ViewBag.ItemSeller
        </dd>

        <dt>
           Item: 
        </dt>

        <dd>
            @ViewBag.ItemName
        </dd>

        <dt>
            Description:
        </dt>

        <dd>
            @ViewBag.ItemDescription
        </dd>
        
    </dl>
</div>
<div id="output">
    <table class="table table-striped table-hover">
        <thead>
            <th>Bidder</th>
            <th>Price</th>
            <th>BidTime</th>
        </thead>
        <tbody>
    @foreach (var bid in Model){
        <tr>
            <td>@Html.DisplayFor(b => bid.Buyer.BuyerName)</td>
            <td>@Html.DisplayFor(b => bid.Price)</td>
            <td>@Html.DisplayFor(b => bid.BidTime)</td>
        </tr>
    }
            </tbody>
            </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts{
    @*Include the script for the item details AJAX*@)
    <script src="~/Scripts/ItemDetails.js"></script>
    @*Get the updated bid information from the server every 5 seconds.*@)
    <script>
        var intervalID = setInterval(function () { getBids(@ViewContext.RouteData.Values["id"].ToString()); }, 5000);
    </script>
 }
