﻿@model CS460_Homework_8.DAL.Classification

@{
    ViewBag.Title = "Classification Details";
}

<h2>@Html.DisplayFor(model => model.Artwork.Title) Classification Details</h2>

<div>
    <h4>Classification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artwork.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artwork.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.GenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.GenreName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
