﻿<div class="navbar navbar-inverse ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class='@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")'>
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" })
                </li>
                <li class="dropdown @(ViewContext.RouteData.Values["Action"].ToString() == "Bicycles" ? "active" : "")">
                    <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Bicycles<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("All Bicycles", "Bicycles", "Home", new { id = "All" }, null)</li>
                        <li>@Html.ActionLink("Mountain", "Bicycles", "Home", new { id = "Mountain" }, null)</li>
                        <li>@Html.ActionLink("Road", "Bicycles", "Home", new { id = "Road" }, null)</li>
                        <li>@Html.ActionLink("Touring", "Bicycles", "Home", new { id = "Touring" }, null)</li>
                        <li></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Accessories<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("All", "Accessories", "Home", new { id = "All" }, null)</li>
                        <li>@Html.ActionLink("Bike Racks", "Accessories", "Home", new { id = "Bike Racks" }, null)</li>
                        <li>@Html.ActionLink("Bike Stands", "Accessories", "Home", new { id = "Bike Stands" }, null)</li>
                        <li>@Html.ActionLink("Bottles & Cages", "Accessories", "Home", new { id = "Bottles and Cages" }, null)</li>
                        <li>@Html.ActionLink("Cleaners", "Accessories", "Home", new { id = "Cleaners" }, null)</li>
                        <li>@Html.ActionLink("Fenders", "Accessories", "Home", new { id = "Fenders" }, null)</li>
                        <li>@Html.ActionLink("Helmets", "Accessories", "Home", new { id = "Helmets" }, null)</li>
                        <li>@Html.ActionLink("Hydration Packs", "Accessories", "Home", new { id = "Hydration Packs" }, null)</li>
                        <li>@Html.ActionLink("Lights", "Accessories", "Home", new { id = "Lights" }, null)</li>
                        <li>@Html.ActionLink("Locks", "Accessories", "Home", new { id = "Locks" }, null)</li>
                        <li>@Html.ActionLink("Panniers", "Accessories", "Home", new { id = "Panniers" }, null)</li>
                        <li>@Html.ActionLink("Pumps", "Accessories", "Home", new { id = "Pumps" }, null)</li>
                        <li>@Html.ActionLink("Tires & Tubes", "Accessories", "Home", new { id = "Tires and Tubes" }, null)</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Clothing<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("All", "Clothing", "Home", new { id = "All" }, null)</li>
                        <li>@Html.ActionLink("Bib-Shorts", "Clothing", "Home", new { id = "Bib-Shorts" }, null)</li>
                        <li>@Html.ActionLink("Caps", "Clothing", "Home", new { id = "Caps" }, null)</li>
                        <li>@Html.ActionLink("Gloves", "Clothing", "Home", new { id = "Gloves" }, null)</li>
                        <li>@Html.ActionLink("Jerseys", "Clothing", "Home", new { id = "Jerseys" }, null)</li>
                        <li>@Html.ActionLink("Shorts", "Clothing", "Home", new { id = "Shorts" }, null)</li>
                        <li>@Html.ActionLink("Socks", "Clothing", "Home", new { id = "Socks" }, null)</li>
                        <li>@Html.ActionLink("Tights", "Clothing", "Home", new { id = "Tights" }, null)</li>
                        <li>@Html.ActionLink("Vests", "Clothing", "Home", new { id = "Vests" }, null)</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Components<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("All", "Components", "Home", new { id = "All" }, null)</li>
                        <li>@Html.ActionLink("Handlebars", "Components", "Home", new { id = "Handlebars" }, null)</li>
                        <li>@Html.ActionLink("Bottom Brackets", "Components", "Home", new { id = "Bottom Brackets" }, null)</li>
                        <li>@Html.ActionLink("Brakes", "Components", "Home", new { id = "Brakes" }, null)</li>
                        <li>@Html.ActionLink("Chains", "Components", "Home", new { id = "Chains" }, null)</li>
                        <li>@Html.ActionLink("Cranksets", "Components", "Home", new { id = "Cranksets" }, null)</li>
                        <li>@Html.ActionLink("Deraillers", "Components", "Home", new { id = "Derailleurs" }, null)</li>
                        <li>@Html.ActionLink("Forks", "Components", "Home", new { id = "Forks" }, null)</li>
                        <li>@Html.ActionLink("Headsets", "Components", "Home", new { id = "Headsets" }, null)</li>
                        <li>@Html.ActionLink("Mountain Frames", "Components", "Home", new { id = "Mountain Frames" }, null)</li>
                        <li>@Html.ActionLink("Road Frames", "Components", "Home", new { id = "Road Frames" }, null)</li>
                        <li>@Html.ActionLink("Touring Frames", "Components", "Home", new { id = "Touring Frames" }, null)</li>
                        <li>@Html.ActionLink("Pedals", "Components", "Home", new { id = "Pedals" }, null)</li>
                        <li>@Html.ActionLink("Saddles", "Components", "Home", new { id = "Saddles" }, null)</li>
                        <li>@Html.ActionLink("Wheels", "Components", "Home", new { id = "Wheels" }, null)</li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
</div>
