﻿@using System.Text.RegularExpressions
@model IEnumerable<CS460_Homework_6.Models.Product>
@{

    ViewBag.Title = "Bicycles";
}

<h2>Bicycles</h2>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <h4>@ViewBag.Category</h4>
        @foreach (var product in Model)
        {
            if ((product.DiscontinuedDate == null) ? true : (product.DiscontinuedDate >= DateTime.Today))
            {
                    <div class="product well well-sm">
                        @{
                            byte[] image = product.ProductProductPhotoes.FirstOrDefault().ProductPhoto.LargePhoto;
                            ViewBag.Image = "data:image/png;base64," + Convert.ToBase64String(image, 0, image.Length);
                            string[] name = new Regex(@"\s+").Split(product.Name);
                            ViewBag.BikeName = new Regex(@"\-").Replace(name[0], " ");
                            ViewBag.BikeColor = new Regex(@"\,").Replace(name[1], "");
                            ViewBag.BikeSize = name[2];

                        }
                        <strong>@ViewBag.BikeName</strong>
                        <p class="text-center"><img class="img-responsive" src="@ViewBag.Image" alt="@Html.DisplayFor(item => product.Name) " /></p>
                        <p>
                            <strong>Color:</strong> @ViewBag.BikeColor
                            <br /><strong>Size:</strong> @ViewBag.BikeSize
                        </p>
                        <p><strong>Price:</strong> $@Html.DisplayFor(item => product.ListPrice)</p>
                        <p class="text-right">@Html.ActionLink("Details", "Product", new { id = product.ProductID})</p>
                    </div>
            }
        }  
    </div>
    <div class="col-sm-1"></div>
</div>
