﻿@using System.Text.RegularExpressions
@model IEnumerable<CS460_Homework_6.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Featured Products</h2>
<div class="row">
    <div class="col-sm-12">
        @{int i = 0; }
        @foreach (var feature in Model)
        {

            if ((feature.DiscontinuedDate == null) ? true : (feature.DiscontinuedDate >= DateTime.Today))
            {
                <div class="featured-product well">
                    @{
                        byte[] image = feature.ProductProductPhotoes.FirstOrDefault().ProductPhoto.LargePhoto;
                        ViewBag.Image = "data:image/png;base64," + Convert.ToBase64String(image, 0, image.Length);
                        string[] name = new Regex(@"\s+").Split(feature.Name);
                        ViewBag.BikeName = new Regex(@"\-").Replace(name[0], " ");
                        ++i;
                    }
                    <strong>@ViewBag.BikeName</strong>
                    <p class="text-center"><img class="img-responsive" src="@ViewBag.Image" alt="@Html.DisplayFor(item => feature.Name) " /></p>
                    <p>
                        <strong>Color:</strong> @feature.Color
                        <br /><strong>Size:</strong> @feature.Size
                    </p>
                    <p><strong>Price:</strong> $@Html.DisplayFor(item => feature.ListPrice)</p>
                    <p class="text-right">@Html.ActionLink("Details", "Product", new { id = feature.ProductID })</p>
                </div>
            }
            if (i >= 3) { break; }
        }
    </div>
</div>