﻿<div id="index-jumbotron" class="jumbotron">
    <script src="https://www.youtube.com/iframe_api"></script>
    <div id="player"></div>
    <script type="text/javascript">
        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                videoId: '9Vvr7RffQbc',
                playerVars: {
                    controls: 0,
                    autoplay: 1,
                    disablekb: 1,
                    enablejsapi: 1,
                    iv_load_policy: 3,
                    modestbranding: 1,
                    showinfo: 0,
                    rel: 0,
                    playlist: '9Vvr7RffQbc',

                    loop: 1
                },
                events: {
                    'onReady': onPlayerReady
                }
            });
        }
        function onPlayerReady(event) {
            player.mute();
            player.playVideo();
        }
    </script>
</div>
<div id="video-cover">
<h1>Welcome To Adventure Works Cycles</h1>
<p>Premium manufacturer of metal and composite bicycles</p>
</div>
