﻿@using System.Text.RegularExpressions
@model IEnumerable<CS460_Homework_6.Models.Product>
@{

    var product = Model.First();
    // Get the name of the bicyle without extraneous formatting
    string[] name = new Regex(@"\s+").Split(product.Name);
    // Get the image for the bicycle
    byte[] image = product.ProductProductPhotoes.FirstOrDefault().ProductPhoto.LargePhoto;
    //Place the product name in the title
    ViewBag.Image = "data:image/png;base64," + Convert.ToBase64String(image, 0, image.Length);
    ViewBag.Title = new Regex(@"\-").Replace(name[0], " ");

}


<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="row">
            @if (TempData["Success"] != null)
            {
                <!-- Present the user with confirmation that they completed their form correctly -->
                <div class="alert alert-success">
                    <strong>Success:</strong> @TempData["Success"].ToString()
                </div>
            }
            @{
                <p class="text-center"><img class="img-responsive" src="@ViewBag.Image" alt="@Model.First().Name) " /></p>
                <h3>Product Details</h3>
                <p>
                    <strong>Color:</strong> @((product.Color == null) ? "None" : product.Color)
                    <br /><strong>Size:</strong> @((product.Size == null) ? "Single Size/Universal" : product.Size)
                </p>
                <h5>Price: $@Html.DisplayFor(p => product.ListPrice)</h5>
            }
        </div>
        <div class="row">
            <h4>Product Reviews</h4>
            <hr />
            @{ 
                if (Model.First().ProductReviews.Count > 0)
                {
                    foreach (var review in Model.First().ProductReviews)
                    {
                        <p class="text-capitalize"><strong>@review.ReviewerName</strong><br />
                            <small>@Html.DisplayFor(r => review.ReviewDate)</small></p>
                        <p>Rating: 
                            @for (int i = 0; i < review.Rating; ++i) { <span class="glyphicon glyphicon-star"></span>}
                            @for (int i=0; i < 5 - review.Rating; ++i) { <span class="glyphicon glyphicon-star-empty"></span>}
                        </p>
                        <p><strong>Comments:</strong><br />@Html.DisplayFor(r => review.Comments)</p>
                        <hr />
                    }
                    <p>Want to review this product? Click @Html.ActionLink("here", "ReviewProduct", "Home", new { id = product.ProductID }, null) to add a review.</p>
                }
                else
                {
                    <p>Oh no! There are no reviews for this product.<br/> Be the first person to add a review for this product by clicking @Html.ActionLink("here", "ReviewProduct", "Home", new { id = product.ProductID }, null)</p>
                }
            }
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

