﻿@using System.Text.RegularExpressions
@model CS460_Homework_6.Models.ProductReview
@{
    ViewBag.Title = "Review Product";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="row">
            <h4>Post New Review for @ViewBag.Product</h4>
            <p class="text-center"><img class="img-responsive" src="@ViewBag.Image" alt="@ViewBag.Product" /></p>
            <div class="well well-lg">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ReviewerName)<br />
                            @Html.EditorFor(model => model.ReviewerName)<br />
                            @Html.ValidationMessageFor(model => model.ReviewerName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Rating)<br />
                            @Html.EditorFor(model => model.Rating)<br />
                            @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EmailAddress)<br />
                            @Html.EditorFor(model => model.EmailAddress)<br />
                            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Comments)<br />
                            @Html.EditorFor(model => model.Comments)<br />
                            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="Submit" formmethod="post" />
                            <input class="btn btn-default" type="reset" value="Reset">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>


