﻿
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Reginald's Ancient Antiquities Auction House!</h2>
<div class="row">
    <div class="col-lg-12">
        <input id="bidButton" class="btn btn-primary" type="button" value="Place a Bid" />
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        document.getElementById("bidButton").onclick = function () {
            location.href = "/Bids/Create/";
        };
    </script>
    }
