﻿@* Get the model for the form *@
@model CS460_Homework_5.Models.Request

@using (Html.BeginForm())
{

    <!-- Generated Anti-Forgery Token --> @Html.AntiForgeryToken()

    <!-- Container for the form --><div class="form-horizontal">
        <!-- Form group for the user's identity information -->
        <div id="identity" class="form-group">
            <div class="left">
                @Html.LabelFor(model => model.ODL, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.ODL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ODL, "", new { @class = "text-danger" })
            </div>
            <div class="left">
                @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
            </div>
        </div>
        <!-- the full name of the user -->
        <div id="fullName" class="form-group">
            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control fill" } })
            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
        </div>
        <!-- The first line of the address, the street address -->
        <div id="addressLineOne" class="form-group">
            @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control fill" } })
            @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
        </div>
        <!-- The second line of the address, contains the city and the state -->
        <div id="addressLineTwo" class="form-group">
            <div class="left">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
            <div class="left">
                @Html.LabelFor(model => model.USState, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.USState, new { htmlAttributes = new { @id = "state", @class = "form-control", @maxlength="2"} })
                @Html.ValidationMessageFor(model => model.USState, "", new { @class = "text-danger" })
            </div>
            <div class="left">
                @Html.LabelFor(model => model.Zip, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })
            </div>
        </div>
        <!-- The last information needed, the county and the current date which acts as a signature -->
        <div id="inputLocationDate" class="form-group">
            <div class="left">
                @Html.LabelFor(model => model.County, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.County, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.County, "", new { @class = "text-danger" })
            </div>
            <div class="left">
                @Html.LabelFor(model => model.DateStamp, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.DateStamp, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.DateStamp, "", new { @class = "text-danger"})
            </div>
        </div>
        <!-- User submit and form reset buttons -->
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Submit" formmethod="post" />
            <input class="btn btn-default" type="reset" value="Reset">
        </div>
    </div>
}
