﻿
@{
    ViewBag.Title = "DMV Change of Address Request";
}

<h2>Change of Address Request Form</h2>
<div class="row">
    <!-- left spacer -->
    <div class="col-sm-2"></div>
    <!-- end of left spacer -->
    <!-- Middle content area -->
    <div class="col-sm-8">
        @* Message of successful submit *@
        @if (TempData["Success"] != null)
        {
            <!-- request submitted to database -->
            Html.RenderPartial("~/Views/Home/StatusOK.cshtml");
        }
        @* Get partial view for the form *@
        @RenderPage("~/Views/Home/ChangeOfAddressForm.cshtml")
    </div>
    <!-- End of content area -->
    <!-- right spacer -->
    <div class="col-sm-2"></div>
    <!-- end of right spacer -->
</div>

