﻿
@{
    ViewBag.Title = "Requests";
}

@model IEnumerable<CS460_Homework_5.Models.Request>
<h2>Requests</h2>

<!-- Table of the requests currently in the database.-->
<table class="table">
    <!-- This row contains the headers for the table, these are the names of the items in the model.-->
    <tr>
        <th>
            <!-- Oregon Driver's License number-->
            @Html.DisplayNameFor(model => model.ODL)
        </th>
        <th>
            <!-- The full name of the person requesting the change -->
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            <!-- The date of birth of the person requesting the change -->
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            <!-- The street address-->
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            <!-- The city -->
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            <!-- The US State-->
            @Html.DisplayNameFor(model => model.USState)
        </th>
        <th>
            <!-- The zip code -->
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            <!-- The county -->
            @Html.DisplayNameFor(model => model.County)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStamp)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <!-- database item number: @item.ID.ToString() -->
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ODL)</td>
            <td>@Html.DisplayFor(modelItem => item.FullName)</td>
            <td>@Html.DisplayFor(modelItem => item.DOB)</td>
            <td>@Html.DisplayFor(modelItem => item.Street)</td>
            <td>@Html.DisplayFor(modelItem => item.City)</td>
            <td>@Html.DisplayFor(modelItem => item.USState)</td>
            <td>@Html.DisplayFor(modelItem => item.Zip)</td>
            <td>@Html.DisplayFor(modelItem => item.County)</td>
            <td>@Html.DisplayFor(modelItem => item.DateStamp)</td>
        </tr>
    }

</table>
