﻿
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Homework Assignment 4</h1>
    <p>
        This is Homework Assignment 5 for Software Engineering I at <a href="https://www.wou.edu/">Western Oregon University</a>.
    </p>
</div>
<p>
    This page is the homework assignment for CS460: Software Engineering I. This page contains links and descriptions to each of
    the pages in this project with links to the pages. You can also use the navigation bar at the top of this page to move you
    from page to page.
</p>
<p>
    Here is the list of the pages contained in this assignment. Feel free to use these links to browse to the pages or you can
    use the navigation bar located at the top of the page.

    <ul id="homepage-list">
        <li>
            <h3>@Html.ActionLink("Page 1: Password Authentication", "Page1", "Home")</h3>
            <span>
                This page demonstrates a for using the HTTP GET method that provides query strings to the
                next page. This page also uses the Razor RenderPage() to get views and insert them into
                the Page 1. These views are not attached to a controller and are only used for insertion
                into another view.
            </span>
        </li>
        <li>
            <h3>@Html.ActionLink("Page 2: Username Generator", "Page2", "Home")</h3>
            <span>
                This page demonstrates the use of a FormCollection for moving information from one page
                to another for processing. This page generates a user name in the pattern used here at 
                WOU, but instead of using the graduation year it uses the last two digits of the current
                year.
            </span>
        </li>
        <li>
            <h3>@Html.ActionLink("Page 3: Loan Calculator", "Page3", "Home")</h3>
            <span>
                A loan payment calculator. This calculator is intended to calculate the monthly automotive
                loan payment.
            </span>
        </li>
    </ul>
</p>
<script>
    $(document).ready(function () {
        $("#homepage-list > li").hover(function () {
            $(this).addClass("hovered-list-item");
        }, function () {
            $(this).removeClass("hovered-list-item");
        });
    });
</script>