﻿
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="alert alert-danger">
            <strong>Oh snap!</strong> It looks like someone forgot to enter one or both of their names.
            You have to enter both your first name and your last name before we can generate a user name
            for you.
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">@RenderPage("~/Views/Home/Page2Instructions.cshtml")</div>
    <div class="col-sm-2"></div>
</div>

