﻿
<h1 id="authentication">@((ViewBag.Email == "demo@example.com" && ViewBag.Password == "password1")? "Congratulations!" : "Authentication Failure")</h1>
<p id="message"></p>
<p id="controls"></p>
<script>
    if ($("#authentication").html() == "Congratulations!") {
        var outputString = "Hooray! you entered the correct authentication information."
            + " If you had failed to enter the correct information you would"
            + " have seen a message informing you of your failure."
        $("#message").append(outputString);
        $("#message").addClass("alert alert-success")
    }
    else {
        var outputString = "You failed to authenticate to this page."
            + " Please try using the following credentials:<br>"
            + "Email: demo@example.com<br>"
            + "Password: password1 "
        $("#message").append(outputString);
        $("#message").addClass("alert alert-danger")
    }
    $("#controls").append("<a class='btn btn-primary' href='/Home/Page1'>Reset</a>");
</script>


