﻿<h3>Loan Summary</h3>
    <ul>
        <li><strong>Loan Amount:</strong> @ViewBag.LoanAmount</li>
        <li><strong>Down Payment:</strong> @ViewBag.DownPayment </li>
        <li><strong>Interest Rate: </strong> @ViewBag.InterestRate %</li>
        <li><strong>Monthly Installment:</strong> @ViewBag.MonthlyPayment</li>
    </ul>
<a class='btn btn-primary' href='/Home/Page3'>Reset</a>
