﻿
@{
    ViewBag.Title = "Page 1";
}

<h2>Page 1 - Password Authentication Demonstration</h2>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        @RenderPage(
                (ViewBag.Email==null || ViewBag.Password == null)
                ? "~/Views/Home/Page1Form.cshtml"
                : "~/Views/Home/Page1Auth.cshtml"
                )
    </div>
    <div class="col-sm-3"></div>
</div>

