﻿
        <!--- The form of the Page3 calculator -->
        <form class="form" action="/Home/Page3" method="post">
            <!-- The initial loan amount from the user-->
            <div class="form-group">
                <label class="control-label" for="inputLoanAmount">Loan Amount</label>
                <input class="form-control" id="inputLoanAmount" type="text" name="loanAmount" placeholder="Loan Amount">
            </div>
            <!-- The down payment the user intends to pay-->
            <div class="form-group">
                <label class="control-label" for="inputDownPayment">Down Payment</label>
                <input class="form-control" id="inputDownPayment" type="text" name="downPayment" placeholder="Down Payment">
            </div>
            <!-- The interest rate for the user. -->
            <div class="form-group ">
                <label class="control-label" for="interestRate">Annual Percentage Rate</label>
                <input class="form-control" id="inputInterestRate" type="text" name="interestRate" placeholder="Interest Rate">
            </div>
            <!-- The number of months that they intend to pay the loan off in.-->
            <div class="form-group ">
                <label class="control-label" for="inputTermLength">Term/Period</label>
                <input class="form-control" id="inputTermLength" type="text" name="term" placeholder="Number of Years or Months">
            </div>
            <!-- Buttons: Submit/Calculate and Reset. -->
            <div class="-form-group" >
                <input class="btn btn-primary" id="calculate" type="submit" value="Calculate" />
                <input class="btn btn-default" type="reset" value="Reset">
            </div>
        </form>
        <!-- end of the calculator form -->
