﻿

        <!-- Start of the form -->
        <form class="form-horizontal" action="~/Home/Page2" method="post">
            <fieldset>
                <!-- Input for the user's first name -->
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="inputFirstName">First Name</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputFirstName" type="text" name="firstName" placeholder="First Name">
                    </div>
                </div>
                <!-- Input for the user's last name -->
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="inputLastName">Last Name</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputLastName" type="text" name="lastName" placeholder="Last Name">
                    </div>
                </div>
                <!-- Buttons -->
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <!-- Submit button -->
                        <input class="btn btn-primary" type="submit" value="Submit" formmethod="post">
                        <!-- Reset form button -->
                        <input class="btn btn-default" type="reset" value="Reset">
                    </div>
                </div>
            </fieldset>
        </form>
        <!-- End of the form -->


