﻿
<div id="instructions"></div>
<script>
    function getInstructions() {
        var directions = "<div class='alert alert-dismissible alert-info'>"
            + "<button type= 'button' class='close' data-dismiss='alert'>&times;</button>"
            + "<h4>Instructions</h4>"
            + "<p>This is a username generator. Enter your first name and last name. Press "
            + "the submit button and it will create a username for you.</div>";
        $("#instructions").empty();
        $("#instructions").html(directions);
    }
</script>

