﻿<div class="well well-form">
    <p class="text-right"><span class="glyphicon glyphicon-question-sign" onclick="getInstructions()"></span></p>
    <form class="form-horizontal" action="~/Home/Page1">
        <fieldset>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="inputEmail">Email</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputEmail" type="text" name="email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="inputPassword">Password</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputPassword" type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <input class="btn btn-primary" type="submit" value="Submit" formmethod="get">
                    <input class="btn btn-default" type="reset" value="Reset">
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div id="instructions"></div>
<script>
    function getInstructions() {
        var directions = "<div class='alert alert-dismissible alert-info'>"
            + "<button type= 'button' class='close' data-dismiss='alert'>&times;</button>"
            + "<h4>Instructions</h4>"
            + "<p>This is a demonstration of an login page for a website. Enter a username "
            + "and press the submit button to log in. This just does a static login check. Use "
            + "the following to log in:</p><p><strong>Email:</strong> demo@example.com</p><p>"
            + "<strong>Password:</strong> password1</div >";
        $("#instructions").empty();
        $("#instructions").html(directions);
    }
</script>
