﻿
@{
    ViewBag.Title = "Page 2";
}
<h2>Page 2 - User Name Generator</h2>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 well">
        <p class="text-right"><span class="glyphicon glyphicon-question-sign" onclick="getInstructions()"></span></p>
        @RenderPage("~/Views/Home/Page2Form.cshtml")
    </div>
    <div class="col-sm-2"></div>
</div>
@RenderPage((ViewBag.Results == "true")
            ? (ViewBag.UserName != null) 
                ? "~/Views/Home/Page2Results.cshtml"
                : "~/Views/Home/Page2ResultsError.cshtml"
            : "~/Views/Home/Page2NoResults.cshtml"
            )
