﻿
@{
    ViewBag.Title = "Page 3";
}

<h2>Page 3 - Loan Calculator</h2>
<!-- Calculation Error Output, only viewable if we have non-empty error string and are on a post page.-->
<!-- The main form of the page. -->
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 well">
        <p class="text-right"><span class="glyphicon glyphicon-question-sign" onclick="getInstructions()"></span></p>
        <!-- If we're on the post version of this page and have no error message, show the summary-->
        @{  // I prefer to use a ternary operator for this part like I did with the other pages
            // but in this class I wanted to try doing this with an if/else statement because in 
            // some cases this can be difficult for some programmers to read.
            if (IsPost && ViewBag.ErrorMessage == "")
            {
                Html.RenderPartial("~/Views/Home/Page3Summary.cshtml");
            }
            else
            {
                // If this wasn't a post, deliver a partial view that contains the calculator form.
                Html.RenderPartial("~/Views/Home/Page3Form.cshtml");
            }
        }
    </div>
    <div class="col-sm-3"></div>
</div>
<!-- end of the main form -->
@if (IsPost && ViewBag.ErrorMessage != "")
{
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 alert alert-danger">
            <p><strong>An Error Occurred!</strong></p>
            <p>Error message: @ViewBag.ErrorMessage </p>
        </div>
        <div class="col-sm-3"></div>
    </div>
}
<!-- space for placing instructions for the user if they click on the instructions link. -->
<div class="row">
    <div class="col-sm-3"></div>
    <div id="instructions" class="col-sm-6"></div>
    <div class="col-sm-3"></div>
</div>
<!-- script for instruction output. -->
<script>
    function getInstructions() {
        var directions = "<div class='alert alert-dismissible alert-info'>"
            + "<button type= 'button' class='close' data-dismiss='alert'>&times;</button>"
            + "<h4>Instructions</h4>"
            + "<p>The is an automotive estimated monthly installment calculator, This will "
            + "calculate your estimated monthly car payment based on the information provided."
            + "</p></div>";
        $("#instructions").empty();
        $("#instructions").html(directions);
    }
</script>
<!-- end of instruction script -->