﻿
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">@RenderPage("~/Views/Home/Page2Instructions.cshtml")</div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="well col-sm-8">
            <h2>Results</h2>
            <p>Your username is: @ViewBag.UserName</p>
    </div>
    <div class="col-sm-2"></div>
</div>


