﻿@model IEnumerable<CS460_Homework_8.DAL.Genre>
@{
    ViewBag.Title = "Index";
}

<h2 class="fancy-text">Online Art Database</h2>

<div class="row">
    <div class="text-center col-lg-12">
        @foreach(var link in Model)
        {
            <input type="button" class="btn btn-default" value="@link.GenreName" onclick="getGenre(@link.ID)" />
        }
    </div>
</div>
<div class="row">
    <div id="genreOutput" class="text-center col-lg-12"></div>
</div>

@section scripts{
    <script src="~/Scripts/genrelist.js"></script>    
}